{
  "endOfLine": "lf",
  "printWidth": 120,
  "semi": true,
  "singleQuote": true,
  "tabWidth": 4,
  "overrides": [
    {
      "files": ["*.json", "*.yml", "*rc"],
      "options": {
        "tabWidth": 2
      }
    }
  ]
}
